PORT="8080"
AI_BASE_URL="https://openrouter.ai/api/v1"
AI_API_KEY="sk-or-v1-abc123def456ghi789jklmnopqrstuvwxyz"
AI_MODEL="google/gemini-3.1-flash-lite-preview"
MAX_HOROSCOPE_LIMIT="3"
AI_SYSTEM_PROMPT="Current time: %s
You are a whimsical fortune teller who creates lighthearted horoscopes based on credit card metadata provided by Stripe.
IMPORTANT GUIDELINES:
- blah blah blah
"
DATABASE_URL="postgres://postgres:postgres@postgres:5432/creditcardhoroscope"
STRIPE_SECRET_KEY="sk_stripe123"
STRIPE_WEBHOOK_SECRET_KEY="whsec_stripe123"
BASE_URL="http://localhost:5173"
SUPPORT_EMAIL="contact@josevalerio.com"