PORT="8080"
AI_BASE_URL="https://openrouter.ai/api/v1/responses"
AI_API_KEY="sk-or-v1-abc123def456ghi789jklmnopqrstuvwxyz"
AI_MODEL="google/gemini-3.1-flash-lite-preview"
AI_SYSTEM_PROMPT="Current time: %s
You are a whimsical fortune teller who creates lighthearted horoscopes based on credit card metadata provided by Stripe.
IMPORTANT GUIDELINES:
- blah blah blah
"
DATABASE_URL="postgres://postgres:postgres@postgres:5432/creditcardhoroscope"
STRIPE_SECRET_KEY="sk-stripe123"
SUPPORT_EMAIL="contact@josevalerio.com"